In [1]:
import pandas as pd

# # Reading data

In [2]:
df = pd.read_csv('mydata.csv')

In [3]:
df.head()

        fever  body_pain  age  runny_nose  diffBreath  infectionProb
0   98.350070          1   56           1          -1              1
1   99.171247          0   46           1          -1              0
2  100.816391          0   62           0           0              1
3  101.375673          1   18           1           0              0
4   99.982670          1   21           1          -1              0

In [4]:
df.tail()

           fever  body_pain  age  runny_nose  diffBreath  infectionProb
2258  100.969703          1   85           1           0              1
2259   98.196073          1   13           0           1              1
2260  100.985890          1   10           0           1              0
2261   98.335270          0   70           0           0              0
2262  100.977743          0   33           0           0              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2263 entries, 0 to 2262
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2263 non-null   float64
 1   body_pain      2263 non-null   int64
 2   age            2263 non-null   int64
 3   runny_nose     2263 non-null   int64
 4   diffBreath     2263 non-null   int64
 5   infectionProb  2263 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 106.2 KB

In [6]:
df['diffBreath'].value_counts()

 0    781
 1    753
-1    729
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,body_pain,age,runny_nose,diffBreath,infectionProb
count,2263.000000,2263.000000,2263.000000,2263.000000,2263.000000,2263.000000
mean,99.983692,0.500663,50.608484,0.486522,0.010605,0.477684
std,1.136533,0.500110,29.179186,0.499929,0.809358,0.499612
min,98.004574,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.985034,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,99.982908,1.000000,51.000000,0.000000,0.000000,0.000000
75%,100.955668,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.996306,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([5, 2, 3, 1, 0, 6, 4])

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

           fever  body_pain  age  runny_nose  diffBreath  infectionProb
450   100.284366          0   78           0           1              1
316    98.259882          1   44           1           1              0
611    98.481501          1    4           1           1              0
1893  100.243098          1   58           1          -1              1
427   100.765504          1   10           1           0              0
...          ...        ...  ...         ...         ...            ...
1638  101.304467          0   24           0          -1              1
1095  101.127925          0   19           0          -1              0
1130  101.767086          0   49           0          -1              0
1294   99.615487          0   87           1           0              1
860   100.066599          1   48           0          -1              0

[1811 rows x 6 columns]

In [13]:
test

           fever  body_pain  age  runny_nose  diffBreath  infectionProb
1578   98.606718          0   34           0          -1              0
1226  101.834346          1   11           0           1              0
350   101.085423          0   70           0           1              0
420   101.215217          1   57           1           0              0
56     98.514142          1   69           0           0              0
...          ...        ...  ...         ...         ...            ...
1674  100.901527          1   49           1          -1              1
649   100.497291          0   44           1           1              1
8     100.973040          0   61           1           1              0
2046  100.377458          0    8           0           0              1
2099   99.079722          1   98           0          -1              1

[452 rows x 6 columns]

In [14]:
X_train = train[['fever','body_pain','age','runny_nose','diffBreath']].to_numpy()
X_test = test[['fever','body_pain','age','runny_nose','diffBreath']].to_numpy()

In [15]:
Y_train = train[['infectionProb']].to_numpy().reshape(1811,)
Y_test = test[['infectionProb']].to_numpy().reshape(452,)

In [16]:
Y_train

array([1, 0, 0, ..., 0, 1, 0], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [19]:
inputFeatures = [102,1,22,1,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [20]:
infProb

0.513639903871475